<div class="mt-8 mb-lg-14 mb-8">
  <div class="container">
    <div class="row gx-10">
      <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
        <div
          class="offcanvas-start offcanvas-collapse w-md-50"
          tabindex="-1"
          id="offcanvasCategory"
          aria-labelledby="offcanvasCategoryLabel"
        >
          <div class="offcanvas-body ps-lg-2 pt-lg-0">
            <div class="mb-8">
              <h5 class="mb-3" i18n>Categories</h5>
              <ul class="nav nav-category" id="categoryCollapseMenu">
                <li
                  *ngFor="let category of categoryList$ | async"
                  class="nav-item border-bottom w-100 collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#categoryFlushOne"
                  aria-expanded="false"
                  aria-controls="categoryFlushOne"
                >
                  <a
                    [routerLink]="['/categories/', category.id]"
                    class="nav-link"
                    >{{ category.name }}
                    <i class="feather-icon icon-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <section
        class="col-lg-9 col-md-12"
        *ngIf="currentCategory$ | async as currentCategory"
      >
        <ng-container *ngIf="productList$ | async as products">
          <div class="card mb-4 bg-light border-0">
            <div class="card-body p-9">
              <h2 class="mb-0 fs-1">{{ currentCategory.name }}</h2>
            </div>
          </div>

          <div class="d-lg-flex justify-content-between align-items-center">
            <div class="mb-3 mb-lg-0">
              <p class="mb-0" i18n>
                <span class="text-primary"> {{ products.length }} </span>
                Products found
              </p>
            </div>

            <div class="d-md-flex justify-content-between align-items-center">
              <div class="d-flex mt-2 mt-lg-0">
                <div>
                  <!-- select sort option -->
                  <select
                    class="form-select"
                    (change)="sort($any($event.target).value)"
                  >
                    <option
                      *ngFor="let order of ordersList$ | async"
                      [value]="order"
                    >
                      {{ order }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row g-4 row-cols-1 mt-2">
            <div class="col" *ngFor="let product of products">
              <!-- card -->
              <div class="card card-product">
                <!-- card body -->
                <div class="card-body">
                  <div class="row align-items-center">
                    <!-- col -->
                    <div class="col-md-4 col-12">
                      <div class="text-center position-relative">
                        <a [routerLink]="['/product/', product.id]">
                          <img
                            [src]="product.imageUrl | slice : 1"
                            [alt]="product.name"
                            class="mb-3 img-fluid"
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-8 col-12 flex-grow-1">
                      <!-- heading -->
                      <div class="text-small mb-1">
                        <a class="text-decoration-none text-muted"
                          ><small>{{ currentCategory.name }}</small></a
                        >
                      </div>
                      <h2 class="fs-6">
                        <a
                          [routerLink]="['/product/', product.id]"
                          class="text-inherit text-decoration-none"
                          >{{ product.name }}</a
                        >
                      </h2>
                      <div>
                        <!-- rating -->
                        <small class="text-warning">
                          <i
                            *ngFor="let star of [1, 2, 3, 4, 5]"
                            class="bi"
                            [ngClass]="getStarClass(product.ratingValue, star)"
                          ></i>
                        </small>
                        <span class="text-muted small"
                          >{{ product.ratingValue }}({{
                            product.ratingCount
                          }})</span
                        >
                      </div>
                      <div class="mt-6">
                        <!-- price -->
                        <div>
                          <span class="text-dark">{{
                            product.price | currency
                          }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </section>
    </div>
  </div>
</div>
