<div class="mt-8 mb-lg-14 mb-8">
  <div class="container">
    <div class="row gx-10">
      <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
        <div
          class="offcanvas-start offcanvas-collapse w-md-50"
          tabindex="-1"
          id="offcanvasCategory"
          aria-labelledby="offcanvasCategoryLabel"
        >
          <div class="offcanvas-body ps-lg-2 pt-lg-0">
            <div class="mb-8">
              <h5 class="mb-3" i18n>Categories</h5>
              <ul class="nav nav-category" id="categoryCollapseMenu">
                <li
                  *ngFor="let category of categoryList$ | async"
                  class="nav-item border-bottom w-100 collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#categoryFlushOne"
                  aria-expanded="false"
                  aria-controls="categoryFlushOne"
                >
                  <a
                    [routerLink]="['/categories/', category.id]"
                    class="nav-link"
                    >{{ category.name }}
                    <i class="feather-icon icon-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

      <section
        class="col-lg-9 col-md-12"
        *ngIf="currentCategory$ | async as currentCategory"
      >
        <div class="card mb-4 bg-light border-0">
          <div class="card-body p-9">
            <h2 class="mb-0 fs-1">{{ currentCategory.name }}</h2>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
