<section class="my-lg-14 my-8">
  <div class="container">
    <div
      class="row g-4 row-cols-xl-4 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2 mb-4"
    >
      <div class="col" *ngFor="let product of productList">
        <!-- card -->
        <div class="card card-product">
          <div class="card-body">
            <div class="text-center position-relative">
              <a [routerLink]="['/product/', product.id]">
                <!-- img -->
                <img
                  [src]="product.imageUrl | slice : 1"
                  [alt]="product.name"
                  class="mb-3 img-fluid"
              /></a>
            </div>
            <h2 class="fs-6">
              <a
                [routerLink]="['/product/', product.id]"
                class="text-inherit text-decoration-none"
                >{{ product.name }}</a
              >
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
